DUITKU_ENV=production
DUITKU_MERCHANT_CODE=D22200
DUITKU_API_KEY=YOUR_PRODUCTION_API_KEY_HERE
DUITKU_MERCHANT_CLIPS=YOUR_CLIPS_MERCHANT_CODE_HERE
DUITKU_API_KEY_CLIPS=YOUR_CLIPS_API_KEY_HERE
LICENSE_BACKEND_CALLBACK_URL=https://api.intisariapps.com/v1/webhook/duitku
